<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Undercooked meat</title>
</head>
<body style="background-color:lightblue;">
<h1> Undercooked meat </h1>
<br>
<img src="https://www.purina.com/sites/g/files/auxxlc196/files/styles/facebook_share/public/purina-can-dogs-eat-real-meat-500x300.jpg" width="300" height="300">
<h2>4.99 $ (+ 999.99 medical fees)</h2>
<h3>Try our 5-star very rare steak!</h3>
<br>
<button onclick=""> Add to cart </button>

<br>
<br>
<div>
<a = href= "{{ url_for(‘home’) }}" > Homepage </a>
</div>
</body>
</html>